.scroll-top{

position:fixed;

right:35px;

bottom:35px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#10233d;

color:white;

font-size:18px;

cursor:pointer;

opacity:0;

visibility:hidden;

transition:.4s;

z-index:999;

}

.scroll-top.show{

opacity:1;

visibility:visible;

}

.scroll-top:hover{

background:#d4af37;

color:#10233d;

transform:translateY(-5px);

}