.blob{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.18;

z-index:-1;

animation:move 14s infinite;

}

.one{

width:350px;

height:350px;

background:#1f4d91;

top:10%;

left:-100px;

}

.two{

width:280px;

height:280px;

background:#d4af37;

right:-80px;

top:40%;

animation-delay:3s;

}

.three{

width:220px;

height:220px;

background:#4c8bf5;

bottom:-80px;

left:40%;

animation-delay:6s;

}

@keyframes move{

50%{

transform:translateY(-60px);

}

}